@page "/CartPage"
@using BlazorApp1.Data
@using BlazorApp1.Entities
@using Microsoft.EntityFrameworkCore

@inject AppDbContext DbContext

<h3>Корзина</h3>

@foreach (var (cartItem, product) in _cartProducts)
{
	<div>
		@product.Name @product.Price @cartItem.Quantity
	</div>
}

@code {
	private Cart _cart = null!;

	private List<(CartItem cartItem, Product product)> _cartProducts = new();

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		
		_cart = await DbContext.Carts
			.Include(it => it.Items)
			.FirstAsync(
				cart => cart.UserId == User.CurrentUser.Id);

		var productsIds = _cart.Items
			.Select(item => item.ProductId).ToList();
		
		var products = await DbContext.Products
			.Where(prod => productsIds.Contains(prod.Id))
			.ToListAsync();

		_cartProducts = _cart.Items.Join(
			products, 
			item => item.ProductId,
			product => product.Id,
			(item, product) => (item, product)
		).ToList();
	}
}