@model System.Collections.Concurrent.ConcurrentBag<Product>

@{
	ViewData["Title"] = "Добавление товара";
}

@foreach (var p in Model)
{
	<div> @p.Name @p.Price.ToString("C") </div>
}

<form method="post">
	<div>Id: <input type="text" name="id" required/> </div>
	<div>Имя: <input type="text" name="name"/></div>
	<div>Цена: <input type="text" name="price"/></div>

	<div><input type="submit" name="submit" value="Создать"/></div>
</form>